# See https://help.github.com/ignore-files/ for more about ignoring files.

# Pasta de dependências
node_modules

# CSS Compilado
app/css

# Outros
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*